* {
    
    color: #000000;
}

body {
    background-color: rgba(00, 00, 00, 0.5);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    
}


h1 {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    
}

.sobre-nos {
    width: auto;
    margin-top: 20px;
    padding-top: 50px;
    font-size: 30px;
    
}

.contextualizacao {
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
    margin-left: 10px;
}
.oque-fazemos {
    width: auto;
    margin-top: 20px;
    padding-top: 50px;
    font-size: 30px;
}



h3 {
    font-weight: bold;
    font-size: 35px;

}
    
.contato {
    color: rgb(61, 61, 207);
    font-size: 25px;
    display: flex;
    margin: 0 auto;
    padding-left: 50px;
}